html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
}

header{
    width: 100%;
    height: 10vh;
    background-image:url('../img/Vingadores - Ultimato  -  Cenas Inéditas.mp4');
    background-size: cover;
}
/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

.content{
    width: 90%;
    margin: 4em auto;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold; 
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 12px;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #21d192;
}
nav.black ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    }
    nav.black ul li a:hover{
        text-decoration:none;
        color:#21d192;
    }
    nav.black ul li:hover{
        background-color: #000;
    }

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    }
    nav ul li a:hover{
        text-decoration:none;
        color:#21d192;
    }
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
#book{
    width: 300px;
    display: inline;
}

#sair{
    display: inline;
    margin-left: 160px;

}


body{
    background-color: rgba(0, 0, 0, 0.925);
    color: #fff;
}
#login2{
    margin-top: 0px;
    margin-right: 5px;
    background-color: #fff;
    color: slategray;
    float: right;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    bottom: 0;
    min-width:100%; 

  }
  /* Add some content at the bottom of the video/page */
.content {
    margin: 0;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
  }


  
/*MODAl CUIDADO CARAI*/
.container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .modal-content{
        background-color: #21d192;
    }
    /*Mexe não hein*/

    .formcad{
    background-image: url(../img/Fundo.jpg);
    background-size: cover;
    width: 100%;
}
.form1{
    color:#fff;
    margin: 80px;
    border-style:solid;
    border-color: #21d192;
    border-width: 30px;
    border-radius: 20px;
    padding:20px;
    width: 50%;
    margin-left: 230px;
    background-color: #0F6547;
    
}
.btn{
    margin: 20px 14;
}
.form-group{
    margin-top: 25px;

}

@media (max-width: 580px){
    nav ul{
        padding:0;
    }
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;    
    }

    nav ul{
        max-height: 0px;
        background: #21d192;
        
    }

    nav.black ul{
        background: #000;
        
    }

    .showing{
        max-height: 3em;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding:24px 0;    
        text-align: center;
        border-bottom-style:solid;
        border-width: 2px;
    }
    nav ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    }
    nav ul li a:hover{
        text-decoration:none;
        color:#21d192;
    }
    
    .menu-icon{
        display: block;
    }

    #login2{
        display: inline-block;
        float: none;
        background-color:rgba(0, 0, 0, 0);
        color: #fff;
        border-width: 0;
        width: 100%;
        font-size: 20pt;

    }
    .fazendo {
        display: block;
    }

}   
