html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
}
.wrapper{
    margin: 10px;
}
.content{
    width: 90%;
    margin: 4em auto;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold; 
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
    height: 100px;
}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 12px;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #21d192;
}
nav.black ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    }
    nav.black ul li a:hover{
        text-decoration:none;
        color:#21d192;
    }
    nav.black ul li:hover{
        background-color: #000;
    }

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 20px;
    }
    nav ul li a:hover{
        text-decoration:none;
        color:#21d192;
    }
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

body{
    background-color: rgba(0, 0, 0, 0.925);
    color: #fff;
}
ul{
    height: 200px;
}
.dropdown{
 float: right;
 margin-right: 80px;
 margin-top: 15px;
 background-color: rgba(0,0,0,0);
    
}
.btn{
    background-color: rgba(0,0,0,0);
    color: #fff;
}
.logo2{
    float: center;
    width: 20%;
    margin-left: 42%;
    margin-top: 40px;
    position:absolute;
}
.logo2 img{
    margin:0; 
}
.main{
    margin-top: 80px;
}